[Unit]
Description=BLE-Simulator
After=multi-user.target BLEServer.service

[Service]
Type=idle
User=pi
ExecStart=/usr/bin/node /home/pi/project/BA2-Simulator/main.js

[Install]
WantedBy=multi-user.target
